@{
    ViewData["Title"] = "Resultado da Verificação";
}

<h1>Resultado da Verificação</h1>

<p>A palavra <strong>@ViewBag.Palavra</strong> @ViewBag.Resultado</p>

<p><a asp-controller="Recursividade" asp-action="Index">Voltar</a></p>